body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

a{
    color: #11999E;
    font-family: 'Montserrat' sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}


h1{
    font-size: 5.625rem;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    Color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #66BFBF;
    font-weight: normal;
}

h3{ 
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    color: #3a393b;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.intro{
    width: 30%;
    margin: auto;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 50px auto 50px auto;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 40px auto;
}


.pro{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.pfp1{
    height: 150px;
    width: 150px;
    margin: 50px auto 0px auto;
}

.web{
    height: 150px;
    width: 150px;
}

.spotify{
    height: 150px;
    width: 150px;
    margin-top: 3%;
}



.learning{
    width: 30%;
    margin: auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }

.copy{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.contact-me{
      margin-bottom: 40px;
      margin-top: 40px;
}

.love{
    padding-bottom: 20px;
}